[Unit]
Description=Sanders Pool Temp Logger
After=network-online.target
 
[Service]
User=greg
Type=simple
ExecStart=/home/greg/poolctl/poolSQL.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
