<!DOCTYPE html>
<html>
    <head>
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <script src="../static/js/bootstrap.min.js"></script>
   <!-- <META HTTP-EQUIV="refresh" CONTENT="5"> -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Graphs</title>
    </head>
    <body><div class="container-fluid">
        <h1>Graphs</h1>
        <a href="http://192.168.1.150" class="btn btn-primary btn-sm" role="button">Mother</a><br><br>
        <a href="/" class="btn btn-primary btn-sm" role="button">Controls</a><br><br>
        <a href="/stats" class="btn btn-primary btn-sm" role="button">See Hardware Status</a><br><br>
        <form method='POST' action="{{ url_for('graphs') }}">
        <input type='text' size='4' value=0 name='graphDays' id='1'>  <input type='submit' value='GO' name='GO' id='go7'></form>
        {% if GD | int == 0 %}
        <h3>Temps Recorded Since Midnight</h3>
        {% else %}
        {% set days = GD | int + 1 %}
        <h3>Temps looking {{ days }} days into the past.</h3>
        {% endif %}
        <div>{{ rn }} records displayed.  Temps recorded every {{ gsr }} seconds.<br>
        Last recorded temps: IN: {{ lp1t }}F. OUT: {{ lp2t }}F.</div>
        <div><img src='{{ graph1 }}'></img></div>
<!--        <div>Graph2</div>
        <div><img src='{{ graph2 }}'></img></div>
        <div>Graph3</div>
        <div><img src='{{ graph3 }}'></img></div> -->
    </div>
    </body>
</html>