<!DOCTYPE html>
<head>
   <title>Pool Schedule (alpha)</title>
   <link href="/static/bootstrap.min.css" rel="stylesheet">
   <script src="/static/js/bootstrap.min.js"></script>
   <!-- <META HTTP-EQUIV="refresh" CONTENT="5"> -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script>
      function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('CLOCK').innerHTML =
        "Current Time: " + h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
      }
      function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
      }
      </script>
</head>

<body onload="startTime()">
  
<div class="container-fluid">
   <h1>Pool Schedule (alpha)</h1>
   
   <!--BUTTON TO UPDATE THIS PAGE  -->
   <a href="/sched/" class="btn btn-primary btn-lg" role="button">Update Status</a>
   
   <!--THE FORM -->
    <form method='POST' action="{{ url_for('sched') }}">
        <label for='form'>Input new Start Time. (format 24hr "####") <br>Press ENTER, OK, Go.</label><br>
        
        {{ sched1[1].name}} : {{ sched1[1].time}} <input type='text' name='schedTime1' id='1'> <br>
        {{ sched1[2].name}} : {{ sched1[2].time}} <input type='text' name='schedTime2' id='2'> <br>
        {{ sched1[3].name}} : {{ sched1[3].time}} <input type='text' name='schedTime3' id='3'> <br>
        {{ sched1[4].name}} : {{ sched1[4].time}} <input type='text' name='schedTime4' id='4'> <br>
        {{ sched1[5].name}} : {{ sched1[5].time}} <input type='text' name='schedTime5' id='5'> <br>
        {{ sched1[6].name}} : {{ sched1[6].time}} <input type='text' name='schedTime6' id='6'> <br>
        <input type='submit' value='GO' name='GO' id='go'>

         <!-- below is the part that does the flash message (not flash as in Adobe) -->
         {% with messages = get_flashed_messages() %}
         {% if messages %}
           <ul class=flashes>
           {% for message in messages %}
             <li>{{ message }}</li>
           {% endfor %}
         </ul>
       {% endif %}
       {% endwith %}
    </form>
    <br>
    <!--BUTTON: BACK TO CONTROLS ('/') -->
    <a href="/2/" class="btn btn-primary btn-lg" role="button">View_Sched</a><br><br>
     <!--BUTTON: BACK TO CONTROLS ('/') -->
   <a href="/" class="btn btn-primary btn-lg" role="button">Controls</a><br>
   <div id="CLOCK"></div>
   </div>
  </div>
</body>
</html>

